<form action="/whois" method="GET">
  <div class="flex flex-col items-center justify-start sm:justify-center h-dvh gap-2 mt-16 sm:mt-0">
    <h1 class="text-5xl">Whois</h1>
    <div class="text-center">
      Well, let's find out whois behind this domain.
    </div>

    <div
      class="flex flex-row justify-center border-2 border-gray-600 rounded-full gap-0 mt-4 w-4/5 sm:w-96"
    >
      <input
        class="rounded-full px-4 pr-0 py-2 bg-gray-950 border-none outline-none w-full"
        type="text"
        placeholder="Enter a domain name or ip address"
        name="domain"
      />
      <button class="rounded-full px-4 pl-0 py-2 ml-2" type="submit">
        »
      </button>
    </div>
  </div>
</form>
