---
import whois from "whois";

interface Props {
  domain: string;
}

const { domain } = Astro.props;

let error = false;

const result = await new Promise<string>((res, rej) => {
  whois.lookup(domain, { verbose: true }, (err, data) => {
    if (err) return rej(err);
    if (!Array.isArray(data)) return rej("Data is not available...");

    res(data.reverse().find((d) => d.data.includes(domain))?.data || data[0].data);
  });
}).catch(() => {
  error = true;
  return "";
});

const whoisData = result.toString().trim();
---

<div class="flex flex-col justify-center items-center w-full">
  <div class="w-10/12 sm:w-6/12 py-16 flex flex-col gap-4">
    <a href="/">
      <div class="text-gray-400">Go back</div>
    </a>

    <div class="text-2xl">
      {domain}
    </div>

    <!-- prettier-ignore -->
    <div class="font-mono break-words whitespace-pre-wrap">{error ? "Data is not available..." : whoisData}</div>
  </div>
</div>
